<launch>

 <!-- include uav -->
    <include file="$(find multirobot_sim)/launch/uav.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="node_id" value="uav1"/>
    </include>

<!-- include ugv -->
    <include file="$(find multirobot_sim)/launch/ugv.launch">
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.0"/>
        <arg name="node_id" value="ugv1"/>
    </include>
    

</launch>