<launch>
  <!--Arguments-->
  <arg name="mav_name" default="firefly"/>
  <arg name="world_file" value="/home/gemy/robot_ws/src/multirobot_sim/worlds/testworld.world"/>
  <arg name="map_file" default="/home/gemy/robot_ws/src/multirobot_sim/maps/map.yaml"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="uav_name_1" default="uav1"/>
  <arg name="uav_name_2" default="uav2"/>
  <arg name="uav_y_1" default="-3.0"/>
  <arg name="uav_y_2" default="0.0"/>
  <arg name="elevation" default="1.0"/>
  <arg name="verbose" default="false"/>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="ugv_name_1" default="ugv1"/>
  <arg name="ugv_name_2" default="ugv2"/>
  <arg name="ugv_x_1" default="1.0"/>
  <arg name="ugv_x_2" default="2.0"/>
  <arg name="endpoint" default="localhost"/>
  <arg name="port" default="1883"/>
  <arg name="min_nodes_num" default="1"/>
  <arg name="secret" default="f051a253c62a4829"/>
  <!-- Load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
  <!-- Spawn uav 1-->
  <include file="$(find multirobot_sim)/launch/uav.launch">
    <arg name="node_id" value="$(arg uav_name_1)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="$(arg uav_y_1)"/>
    <arg name="z" value="$(arg elevation)"/>
    <arg name="endpoint" value="$(arg endpoint)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="min_nodes_num" value="$(arg min_nodes_num)"/>
    <arg name="secret" value="$(arg secret)"/>
  </include>

   <!-- Spawn the ugv 1-->
  <include file="/home/gemy/robot_ws/src/multirobot_sim/launch/ugv.launch">
    <arg name="node_id" value="$(arg ugv_name_1)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="x" value="$(arg ugv_x_1)"/>
    <arg name="endpoint" value="$(arg endpoint)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="min_nodes_num" value="$(arg min_nodes_num)"/>
    <arg name="secret" value="$(arg secret)"/>
  </include>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <!--Monitoring package-->
  <node pkg="multirobot_sim" type="pymonitor.py" name="pymonitor" output="screen" required="true">
    <param name="robots" value="name:uav1,,type:uav|name:ugv1,,type:ugv"/>
    <param name="map" value="map"/>
    <param name="size" value="(600,600)"/>
  </node>
</launch>
