<launch>
  <!--Arguments-->
  <arg name="mav_name" default="firefly"/>
  <arg name="world_file" value="/home/gemy/robot_ws/src/multirobot_sim/worlds/testworld.world"/>
  <arg name="map_file" default="/home/gemy/robot_ws/src/multirobot_sim/maps/map.yaml"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="uav_name_1" default="uav1"/>
  <arg name="uav_name_2" default="uav2"/>
  <arg name="uav_name_3" default="uav3"/>
  <arg name="uav_y_1" default="-3.0"/>
  <arg name="uav_y_2" default="0.0"/>
  <arg name="uav_y_3" default="3.0"/>
  <arg name="elevation" default="1.0"/>
  <arg name="verbose" default="false"/>
  <!-- Load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
  <!-- Spawn robot 1-->
  <include file="$(find multirobot_sim)/launch/uav.launch">
    <arg name="robot_name" value="$(arg uav_name_1)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="$(arg uav_y_1)"/>
    <arg name="z" value="$(arg elevation)"/>
  </include>
  <!-- Spawn robot 2-->
  <include file="$(find multirobot_sim)/launch/uav.launch">
    <arg name="robot_name" value="$(arg uav_name_2)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="$(arg uav_y_2)"/>
    <arg name="z" value="$(arg elevation)"/>
  </include>
  <!-- Spawn robot 3-->
  <include file="$(find multirobot_sim)/launch/uav.launch">
    <arg name="robot_name" value="$(arg uav_name_3)"/>
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="$(arg uav_y_3)"/>
    <arg name="z" value="$(arg elevation)"/>
  </include>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <!--Monitoring package-->
  <node pkg="multirobot_sim" type="pymonitor.py" name="pymonitor" output="screen" required="true">
    <param name="robots" value="name:uav1,,type:uav|name:uav2,,type:uav|name:uav3,,type:uav"/>
    <param name="map" value="map"/>
    <param name="size" value="(1000,1000)"/>
  </node>
</launch>
