<launch>
  <!-- Arguments -->
  <arg name="robot_name" default="ugv"/>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="/home/gemy/robot_ws/src/multirobot_sim/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="multi_robot_name" default=""/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <!-- Load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="/home/gemy/robot_ws/src/multirobot_sim/worlds/testworld.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- Spawn the robot -->
  <include file="/home/gemy/robot_ws/src/multirobot_sim/launch/ugv.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="x" value="$(arg x_pos)"/>
    <arg name="y" value="$(arg y_pos)"/>
    <arg name="z" value="$(arg z_pos)"/>
  </include>
 <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <!--Monitoring package-->
  <node pkg="multirobot_sim" type="pymonitor.py" name="pymonitor" output="screen" required="false">
    <param name="robots" value="name:ugv,,type:ugv"/>
    <param name="map" value="map"/>
    <param name="size" value="(1000,1000)"/>
  </node>
</launch>
